

.cartBox{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px ;
    margin: 50px 0;
    .table{
        .quantity{
            display: flex;
            justify-content: space-between;
            input{
                margin: 0 20px;
            }
        }
        tbody{
            border-top: 1px solid red;
            border-bottom: 1px solid green;
            tr{
                td{
                    border-bottom: 0;
                    text-align: center;
                    vertical-align: middle;
                img{
                    width: 80px;
                    height: 80px;
                    border-radius: 10px;
                }
                }
            }
            input{
                text-align: center;
            }
        }
    }
    .headCart{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            font-size: 16px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: green;
                color: #fff !important;
                box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.3); 
            }
        }
    }
}


@media (min-width: 400px) and (max-width: 600px){

    .cartBox{
        .table{
            // max-width: 20em!important;
            thead{
                tr{
                    display: none;
                }
            }
            tbody {
                tr{
                    display: flex;
                    flex-direction: column;
                    //  margin: 0px 50px;
                }
            }
        }
    }

}