.box{
    width: 90%;
    margin: 100px auto;
    height: 500px;
    ul{
        li{
            font-size: 22px;
            margin: 20px 0;
        }
    }
    img{
        width: 100%;
        max-width: 500px;
        max-height: 500px;
    }
}


@media (min-width: 300px) and (max-width: 500px){
    .box{
        width: 80%;
        height: 100vh;
        ul{
            margin-left: 20px;
            li{
                font-size: 15px;
            }
        }
    }

}